!!!  
%html  
  %head  
    %title< #{sitename}
    %link{href: '/css/bootstrap.min.css', rel: 'stylesheet', media: 'screen'}
    %link{href: '/css/isomething.css', rel: 'stylesheet', media: 'screen'} 
    %meta{name: 'description', content: 'iSomething is a simple, no-frills replacement for a small subset of iGoogle features.'}
    %meta{property: 'og:description', content: 'iSomething is a simple, no-frills replacement for a small subset of iGoogle features.'}
    %meta{property: 'og:title', content: 'iSomething'}
  %body
    .container
      = haml :header, :locals => {:sitename => sitename} 
      .row
        .col-md-4.col-sm-6
          = haml :bbc_news, :locals => {:news_entries => news_entries}
        .col-md-3.col-sm-6
          = haml :weather_forecast, :locals => {:forecast => forecast, :temperature_units => temperature_units}
        .col-md-5.col-sm-12.clear-when-small
          = haml :qotd, :locals => {:qotd_entries => qotd_entries}
      .row
        .col-md-4
          = haml :wotd, :locals => {:wotd_entry => wotd_entry}
        .col-md-8
          = haml :about, :locals => {:sitename => sitename}
      = haml :footer
    -# This is used later on if we need to dynamically load in the forecast settings UI, otherwise unused
    #forecast-settings.modal.modal-vertical-centered{tabindex: '-1', role: 'dialog', aria: {hidden: 'true'}}
    -# Placed at the bottom of the document so the pages load faster
    %script{src: '/js/jquery-2.0.3.min.js'}
    %script{src: '/js/jquery.cookie-1.4.0.js'}
    %script{src: '/js/bootstrap.min.js'}
    :javascript
      $('.newslink').popover({trigger: 'hover', html: true, placement: function (){return $(window).width() >= 991 ? 'right' : 'bottom';}, content: function() {
        return '<div class="news-popover-content"><img src="' + $(this).data('thumbnail') + '" class="img-thumbnail newslink-image">' 
          + '<p>' + $(this).data('summary') + '</p></div>'
      }});
      $('.weather-row').bind('mouseenter', function(){
        var e=$(this);
        e.unbind('mouseenter');
        $.get(e.data('poload'), function(d){
          e.popover({content: d, html: true, trigger: 'hover', placement: function (){return $(window).width() >= 991 ? 'right' : 'bottom';}}).popover('show');
        });
      });